<div class="cart-container">
    <div class="book-container" *ngIf="books.length > 0; else noBooks">
        <div class="checkout-form">
            <form [formGroup]="checkoutForm" (ngSubmit)="checkoutBooks(books)">
                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="issuedTillDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="error"
                        *ngIf="formControls.issuedTillDate.invalid && formControls.issuedTillDate.touched"><span>*Issue
                            Till date is required</span></div>
                </div>
                <div class="form-field">
                    <button mat-raised-button color="primary" type="submit" [disabled]="checkoutForm.invalid">Checkout Book</button>
                </div>
            </form>
        </div>
        <div>
            <h1>Books Added in Cart:</h1>
        </div>
        <div class="book-cart">
            <div class="book-item" *ngFor="let book of books">
                <app-book-item [book]="book"></app-book-item>
            </div>
        </div>
    </div>
    <ng-template #noBooks>
        <div class="no-books">Book Cart is Empty</div>
    </ng-template>
</div>