<mat-toolbar color="primary">
	<button class="title" mat-button routerLink="/">
		<mat-icon>home</mat-icon>
		{{title}}
	</button>

	<span class="fill-remaining-space"></span>

	<div fxLayout="row" fxHide fxShow.gt-sm>

		<button class="nav-button" routerLinkActive="active" mat-button color="primary" (click)="selectedItem = item1"
			routerLink="/home" #item1>Home</button>

		<button class="nav-button" routerLinkActive="active" mat-button color="primary" (click)="selectedItem = item2"
			routerLink="/search" #item2>Book Search</button>

		<button class="nav-button" [ngClass]="{'active': selectedItem === item3}" mat-button color="primary"
			(click)="selectedItem = item3" routerLink="/cart" #item3>Cart</button>

		<button class="nav-button" [ngClass]="{'active': selectedItem === item4}" mat-button color="primary"
			(click)="selectedItem = item4" routerLink="/contact" #item4>Contact</button>

		<button class="nav-button" [ngClass]="{'active': selectedItem === item5}" mat-button color="primary"
			*ngIf="!user" (click)="selectedItem = item5;" #item5>Login</button>
		<button class="nav-button" [ngClass]="{'active': selectedItem === item5}" mat-button color="primary"
			*ngIf="user" (click)="selectedItem = item5; onLogout();" #item5>Logout</button>
	</div>
</mat-toolbar>