<div class="book-details-container">
    <h1>Book Details:</h1>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><span class="heading">Title: </span> {{ book.title }}</mat-card-title>
          <mat-card-subtitle><span class="heading"> Summary:</span> {{book.shortDescription || 'No Summary Available' }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{book.thumbnailUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="book-details">
              <div class="book-style heading">
                <span class="heading">Page Count</span>  {{book.pageCount}}
              </div>
              <mat-divider></mat-divider>
              <div class="book-style"><span class="heading">Authors: </span> {{book.authors}}</div>
              <mat-divider></mat-divider>
              <div class="book-style">
                <span class="heading">Book Category:</span> {{book.categories}}
              </div>
              <mat-divider></mat-divider>
              <div class="book-style">
                <span class="heading"> Description:</span> {{book.longDescription || 'No Description Available'}}
              </div>
              <mat-divider></mat-divider>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [disabled]="book.count === 0" color="primary" (click)="addToCart(book)">Issue Book</button>
          <button mat-raised-button [disabled]="book.count === 0">Out Of Stock</button>
          <button mat-raised-button  (click)="addtoWishList(book)" [disabled]="book.wishlist">{{book.wishlist ? 'Added to Wishlist': 'Add to WIshlist'}}</button>
          <button mat-button>{{ book.count }} books left..!!</button>
        </mat-card-actions>
      </mat-card>
</div>